.l3graph-node-template {
    // width: 100px;
    // height: 40px;
    background-color: #cc1c1c;
    color: white;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-overflow: ellipsis;
    font-size: 12px;
    user-select: none;
    border: 1px solid black;
    padding: 20px;

    opacity: 0.4;
    &:hover {
        opacity: 1;
    }
}

.l3graph-widget-overlay {
    width: 150px;
    height: 150px;
    background-color: green;
    color: white;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-overflow: ellipsis;
    font-size: 12px;
    user-select: none;
    border: 1px solid black;
    padding: 20px;
}