.a {
    color: #999999;
}

.l3graph-main {
    position: relative;
    width: 100vw;
    height: 100vh;
    background-color: aliceblue;
}

.l3graph-link-html-view {
    pointer-events: auto;
    margin-top: 10px;
    font-size: 6px;
    background-color: white;
    user-select: none;
    border: 1px solid gray;
    padding: 2px;
    border-radius: 4px;
    transition: transform 0.5s;

    opacity: 0.4;
    &:hover {
        opacity: 1;
        transform: scale(2);
    }
}

.l3g-node-overlay-anchor {
    position: relative;
    pointer-events: auto;
    cursor: move;
}

.l3g-html-overlay-aligner {
    position: relative;
}

.l3g-html-overlay__body {
    pointer-events: all;
    cursor: pointer;
    user-select: none;
    // transition: transform 0.5s, opacity 0.5s;
    width: max-content;
    display: flex;
}

@mixin l3g-position {
    position: absolute;
}

$anchor-offset: 5px;
$anchor-offset-sqrt: 3.5px;

.l3g-position-nw {
    @include l3g-position;
    right: 100%;
    bottom: calc(100% + #{$anchor-offset});
        
    .l3g-html-overlay__body {
        flex-direction: column-reverse;
        transform-origin: bottom right;
    }
}

.l3g-position-n {
    @include l3g-position;
    bottom: calc(100% + #{$anchor-offset});
    left: 50%;

    .l3g-html-overlay-aligner {
        transform: translate(-50%, 0);
    }
        
    .l3g-html-overlay__body {
        flex-direction: column-reverse;
        transform-origin: bottom;
    }
}

.l3g-position-ne {
    @include l3g-position;
    left: calc(100% + #{$anchor-offset-sqrt});
    bottom: calc(100% + #{$anchor-offset-sqrt});
    
    .l3g-html-overlay__body {
        flex-direction: column-reverse;
        transform-origin: bottom left;
    }
}

.l3g-position-e {
    @include l3g-position;
    left: calc(100% + #{$anchor-offset});
    top: 50%;

    .l3g-html-overlay-aligner {
        transform: translate(0, -50%);
    }

    .l3g-html-overlay__body {
        transform-origin: left;
    }
}

.l3g-position-se {
    @include l3g-position;
    left: calc(100% + #{$anchor-offset-sqrt});
    top: calc(100% + #{$anchor-offset-sqrt});

    .l3g-html-overlay__body {
        flex-direction: column;
        transform-origin: top left;
    }
}

.l3g-position-s {
    @include l3g-position;
    top: calc(100% + #{$anchor-offset});
    left: 50%;
    
    .l3g-html-overlay-aligner {
        transform: translate(-50%, 0);
    }
    
    .l3g-html-overlay__body {
        flex-direction: column;
        transform-origin: top;
    }
}

.l3g-position-sw {
    @include l3g-position;
    right: calc(100% + #{$anchor-offset-sqrt});
    top: calc(100% + #{$anchor-offset-sqrt});
    
    .l3g-html-overlay__body {
        flex-direction: column;
        transform-origin: top right;
    }
}

.l3g-position-w {
    @include l3g-position;
    right: calc(100% + #{$anchor-offset});
    top: 50%;

    .l3g-html-overlay-aligner {
        transform: translate(0, -50%);
    }

    .l3g-html-overlay__body {
        transform-origin: right;
    }
}

.l3g-position-c {
    @include l3g-position;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.l3graph-default-node-view {
    background-color: #268eb8;
    color: white;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-overflow: ellipsis;
    font-size: 12px;
    user-select: none;
    border: 1px solid black;
    padding: 10px;
    opacity: 0.4;

    &:hover {
        opacity: 1;
    }
}

.l3graph-sphere {
    margin-left: -8px;
    margin-top: -8px;
    position: absolute;
    width: 16px;
    height: 16px;
    // background-color: green;
    border-radius: 32px;
    // box-shadow: inset 0px 0px 10px -1px black;
    cursor: pointer;
    // display: none;
}
